@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&family=Noto+Sans+KR&display=swap');
/* font-family: 'Carrois Gothic SC', sans-serif;
font-family: 'Noto Sans KR', sans-serif; */

* {
    margin: 0; padding: 0; 
    box-sizing: border-box;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-family: 'Noto Sans KR', sans-serif;
}

li {list-style: none;}
a {text-decoration: none; color: #333;}
a:hover {
    color: #ccc;
}
form input {
    outline: none;
    border: none;
}

/* 전체 레이아웃 */
#header {
    position: fixed;
    left: 0; right: 0; top: 0;
    background-color: #fff;
    border: 1px solid #ccc;
}
#menu {
    position: relative;
}

#banner {
    margin-top: 72px;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}

.row {
    padding: 0 13px;
}

/* ---------------- menu ------------------ */
.menu_con {
    position: absolute;
    left: 0; top: 0px;
    width: 100%;
    padding: 30px 20px 25px;
    background-color: #fff;
    opacity: 0.95;
    z-index: 100;
    display: none;
}
.search {}
.search form {
    position: relative;
    max-width: 100%;
    width: 500px;
    border: 1px solid #ccc;
    margin: 0 auto;
    height: 40px;
    padding: 3px 20px;
    line-height: 30px;
}
.search form .se_img {
    position: absolute;
    right: 9px; top: 7px;
    width: 15px; height: 15px;
}
.search form .se_img img {
    width: 100%;
}
.menu {margin-bottom: 20px;}
.menu ul {}
.menu ul li {
    position: relative;
    line-height: 2.5;
    border-bottom: 1px solid #ccc;
}
.menu ul li::before {
    content: "\f107";
    position: absolute;
    right: 10px; top: 0;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #666;
}

/* ---------------- header ------------------ */
.header {
    display: flex;
    justify-content: space-between;
}
.header .h_left {width: 60px;}
.header .h_left .barbtn {
    width: 100%; height: 70px;
    display: block;
    background: url(img/btn-menu.png) no-repeat center center;
    background-size: 20px 20px;
}
.header .h_center {width: 120px;}
.header .h_center .logobtn {
    width: 100%; height: 70px;
    display: block;
    background: url(img/logo.png) no-repeat center;
    background-size: 120px 50px;
}
.header .h_right {
    width: 50px;
}
.header .h_right .bagbtn {
    display: block;
    width: 100%; height: 70px;
    background: url(img/ico-bag.png) no-repeat center;
    background-size: 20px 20px;
}

/* ---------------- banner ------------------ */
.swiper {}
.swiper .swiper-slide {
    padding-bottom: 500px;
}
.swiper .sd1 {
    background: url(img/Banner1.jpeg)no-repeat center;
    background-size: cover;
}
.swiper .sd2 {
    background: url(img/Banner2.jpeg)no-repeat center; 
    background-size: cover;
}
.swiper .sd3 {
    background: url(img/Banner3.jpeg)no-repeat center;
    background-size: cover;
}
.swiper-pagination {
    text-align: left;
}
.swiper-pagination-bullet {
    counter-increment: count;
    background: none;
    color: #fff;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {left: 20px; bottom: 20px; font-size: 13px;}